<!---- templates/index.html --->
{% extends "base.html" %}

{% block content %}

<div>
    <header class="flex bg-sail-950 text-sail-50 items-center justify-between px-1 py-1 rounded-b-sm">
        <div>
            <img src="assets/low-poly-grid-haikei.svg" class="h-7" alt="WIP"></img>
        </div>
        <div>
            <div class="flex">
                <button type="submit" class="h-6 w-6 text-sail-500 hover:text-sail-100 focus:text-sail-100 block" hx-get="/add" hx-target="#addLickView">
                    <svg class="h-6 w-6 fill-current bg-sail-800 rounded-lg" viewBox="0 0 24 24">
                        <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"></path>
                    </svg>
                </button>
                <button type="submit" class="h-6 w-6 text-sail-500 hover:text-sail-100 focus:text-sail-100 block">
                    <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                    </svg>
                </button>
            </div>
        </div>
    </header>
</div>

<div id="licks_table">
    {% include "licks_table.html" %}
</div>
<br>
<div id="addLickView">
    <!--{% include "add_lick.html" %}-->
</div>
</br>
<div>
    <div id="ViewDiv"></div>
</div>
{% endblock %}
