<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    </meta>
    <title>Licks</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th> </th>
                <th> ID </th>
                <th> Name </th>
                <th> Filename </th>
                <th> Learned </th>
            </tr>
        </thead>
        <tbody>
            {% for lick in licks %}
            <tr>
                <td>
                    <form action="/pdf" method="get">
                        <button type="submit" name="id" value={{ lick.id }}>View</button>
                    </form>
                </td>
                <td> {{ lick.id }} </td>
                <td> {{ lick.name }} </td>
                <td> {{ lick.filename }} </td>
                <td> {{ lick.learned }} </td>
                <td>
                    <form action="/dellick" method="get">
                        <button type="submit" name="id" value={{ lick.id }}>Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
