<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"></meta>
        <title>Licks</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Filename </th>
                    <th> Learned </th>
                </tr>
            </thead>
            <tbody>
                {% for lick in licks %}
                <tr>
                    <td> {{ lick.id }} </td>
                    <td> {{ lick.filename }} </td>
                    <td> {{ lick.learned }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
