<div id="table" class="inline-flex flex-row space-x-2 rounded-lg border">
    <table>
        <thead class="border rounded-lg">
            <tr>
                <th> </th>
                <th> Name </th>
                <th> Filename </th>
                <th> Learned </th>
            </tr>
        </thead>
        <tbody id="table-content">
            <div>
                {% for lick in licks %}
                {% include "lick.html" %}
                {% endfor %}
            </div>
        </tbody>
    </table>
</div>
<div id="ViewDiv"></div>
